# =============================================================================
# Estrategia: Rolling
# Despliega en lotes sobre las instancias existentes.
# Reduce capacidad temporalmente pero no hay downtime total.
# =============================================================================

option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    BatchSizeType: Fixed
    BatchSize: 1
  aws:autoscaling:asg:
    MinSize: 3
    MaxSize: 6
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /
