# =============================================================================
# Estrategia: Rolling with Additional Batch
# Lanza instancias ADICIONALES antes de retirar las existentes.
# Mantiene capacidad completa durante todo el despliegue.
# =============================================================================

option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: RollingWithAdditionalBatch
    BatchSizeType: Fixed
    BatchSize: 1
  aws:autoscaling:asg:
    MinSize: 3
    MaxSize: 6
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /
