# =============================================================================
# Estrategia: Immutable
# Crea un grupo de Auto Scaling NUEVO con instancias nuevas.
# Si el deploy falla, hace rollback automáticamente.
# Es el más seguro pero el más lento y costoso.
# =============================================================================

option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Immutable
  aws:autoscaling:asg:
    MinSize: 3
    MaxSize: 6
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /
